<%if @logs%>
  <table>
    <tr>
      <th>Product id</th>
      <th>Admin id</th>
      <th>Price before</th>
      <th>Price after</th>
      <th>Update date</th>
    </tr>
    <% @logs.each do |l| %>
      <tr>
        <td><%= l.product_id %></td>
        <td><%= l.admin_id %></td>
        <td><%= l.price_before %></td>
        <td><%= l.price_after %></td>
        <td><%= l.created_at %></td>
      </tr>
    <% end %> 
  </table>
<%end%>
<%= link_to "Regresar", root_path %>
