<%= form_for @profile, html: { autocomplete: "off" } do |f| %>
  <%= f.label 'First Name:' %>
  <%= f.text_field :first_name %><br>

  <%= f.label 'Last Name:' %><br>
  <%= f.text_field :last_name %><br>
  
  <%= f.label 'Address:' %>
  <%= f.text_area :address %><br>

  <%= f.label 'Phone:' %>
  <%= f.text_field :phone %><br>

  <%= f.submit 'Update Profile' %>
<% end %>