<div class="ui sizer vertical segment">
  <h1 class="ui header">
    <img src= "https://wolper.com.au/wp-content/uploads/2017/10/image-placeholder.jpg" class="ui circular image" >
  <%=  @profile.user.email %>
  </h1>
  <h3>First Name: <%= @profile.first_name%></h3> 
  <h3>Last Name:<%= @profile.last_name %></h3>
  <h3>Address: <%= @profile.address%> </h3><h3>Phone: <%= @profile.phone%></h3>
  <% if current_user&.profile == @profile %>
    <%= link_to edit_profile_path(@profile.id), :class=>"ui button" do%>
      Edit Profile
    <%end%>
  <%end%>
</div>
<div>
  <%= render partial: "shared/new_comment", locals: {comment: @comment, commentable: @commentable, type: @type, current_user: current_user, comments: @comments } %>
</div>