<% counter = 0%>
<div class="ui two column grid">
  <% @product.each do |product| %>
    <% @p = product %>
    <% if counter == 0 %>
      <div  class="row">
    <%end%> 
    <div class="column">
      <div class="ui divided items">
        <div class="item">
          <div class="ui small image">
            <%unless product.picture.attached?%>
              <img src="https://wolper.com.au/wp-content/uploads/2017/10/image-placeholder.jpg">
            <%else%>
              <img src="<%= url_for(product.picture.variant(resize: "220x220!"))%>">
            <%end%>
          </div>
          <div class="middle aligned content">
             <%= link_to product_path(@p.id) do %>
              <h2><%= truncate(@p.name, length: 35) %></h2>
            <%end%>
            <% product.tags.each do |t| %>
              <span class="ui tag label">
                <%=label 'tag_name', t.name%>
              </span>
            <% end %><br><br>
            <%= link_to "Details", admin_product_path(@p.id),  :class =>"ui toggle button" %>
            <%= link_to "Edit", edit_admin_product_path(@p.id), :class =>"ui toggle button" %>
            <%= link_to "Deactive", admin_product_path(@p.id), method: :delete, data: {:confirm => "Are you sure you want to deactive this product?"}, :class =>"ui toggle button" %>
          </div>
        </div>
      </div>
    </div>
    <% if counter == 1 %>
      </div>
    <%end%>
    <%counter += 1%>
    <% counter = 0 unless counter < 2 %>
  <% end %>
</div>
<%= will_paginate @users, :params => { filter: {
                                                search: (params[:filter][:search] rescue nil),
                                                scope: (params[:filter][:scope] rescue nil),
                                                tag: nil,
                                                historic: (@searcher[:historic] rescue nil) } }%>
                                                