<%=link_to 'Name', admin_product_index_path( { filter: {
                                                          scope: 'names',
                                                          historic: (@searcher[:historic] rescue nil) } }
                                            ), remote: true, :class=>'ui button' %>
<%=link_to 'Likes', admin_product_index_path( { filter: {
                                                          scope: 'likes',
                                                          historic: (@searcher[:historic] rescue nil) } }
                                            ), remote: true, :class=>"ui button" %>
<%=link_to 'Dislikes', admin_product_index_path( { filter: {                                                
                                                          scope: 'dislikes',
                                                          historic: (@searcher[:historic] rescue nil) } }
                                                ), remote: true, :class=>'ui button' %>
                                          