<%= form_for([:admin, @product], html: { autocomplete: "off" }) do |f| %>
  <%= render partial: "product_form", locals: {f: f}%>
  <%= f.submit 'Update Product' %>
<% end %>


<%= link_to "regresar", admin_product_index_path %>
