<%= form_for([:admin, @product], url: {action: "create"}, html: { autocomplete: "off" }) do |f| %>
  <%= render partial: "product_form", locals: {f: f}%>
  <%= f.submit 'Save Product' %>
<% end %>

<%= link_to "regresar", admin_product_index_path %>