<div class="ui center aligned basic segment">
  <% @order.order_lines.each do |o| %>
    <div div class="ui raised very padded text container segment">
      <h3><%= o.product_name%></h3><h2>$<%= o.price %> X <%= o.quantity %></h2>
      <%= link_to "Remove Product", order_line_path(o.id), method: :delete, data: { confirm: "are you sure?" }, :class=>"ui button" %>
    </div>
    <div class="ui horizontal divider">
      -
    </div>
  <% end %>
  <% if current_user %>
    <%= form_tag charges_path, id: "billing-create-payment-method" do  %>
      <div class="ui huge label">
        <i class="dollar sign icon"></i>
          <%= @order.total %>
      </div>
      <%= link_to "Checkout", new_charge_path(order_id: @order.id), remote: true, class: "ui primary button" %>
    <% end %>
  <% else %>
    <div class="ui huge label">
      <i class="dollar sign icon"></i>
        <%= @order.total %>
    </div>
  <%end%> 
</div>


<div>
  <%= render partial: "shared/new_comment", locals: { comment: @comment, commentable: @commentable, type: @type, current_user: current_user, comments: @comments } %>
</div>

<%= render "shared/link_back" %>
