<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> Greetings from Diego Snack Store <%= @user.profile.first_name %>! </h1>
    <p> 
      This is a confirmation email! your password has benn changed, you can now access with your new password
    </p>
  </body>
</html>