Greetings from Diego Snack Store <%= @user.profile.first_name %>!

You're receiving this email because you have forgotten your password.
Click on the following link to assign a new password.

<%= link_to "Recover Password", api_v1_password_recover_url(token: @token) %>

This link is only valid for 30 min.