<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> Greetings from Diego Snack Store <%= @user.profile.first_name %>! </h1>
    <p> 
      You're receiving this email because you have forgotten your password.<br>
      Click on the following link to assign a new password. <br><br>
      <%= link_to "Recover Password", api_v1_password_recover_url(token: @token) %><br><br>
      This link is only valid for 30 min.
    </p>
  </body>
</html>