Greetings from Diego Snack Store <%= @user.profile.first_name %>!

You're receiving this email because the product you liked, <%= @product.name %>,<br>
<%if @product.stock > 0%>
  is running out of stock, currently at <%= @product.stock %>.
  We encourage you to pick it up now that is available. :)
<%else%>
  has gone out of stock, please check it out later while we restock our inventory.
<%end%>
