<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> Greetings from Diego Snack Store <%= @user.profile.first_name %>! </h1>
    <p> 
      You're receiving this email because the product you liked, <%= @product.name %>,<br>
      <%if @product.stock > 0%>
        is running out of stock, currently at <%= @product.stock %>.<br>
        We encourage you to pick it up now that is available. :)
      <%else%>
        has gone out of stock, please check it out later while we restock our inventory.
      <%end%>
    </p>
  </body>
</html>