(function init() {
  let el = document.querySelector('#comments')

  el.innerHTML = '<%= escape_javascript(render partial: "shared/comment", locals: {:comments => @comments})%>';
  $('.ui.rating').rating({ initialRating: 0, maxRating: 5});
  $('#rate').click(function() {
    $('#comment_rating').attr("value", $('#rate').rating('get rating'))
  });
})()