<div class="container segment">
  <h2>Pending Reviews</h2>
  <% @comments.each do |cm| %>
    <div class="ui clearing divider"></div>
    <div class="ui three column grid container">
      <div class="column">
        <h5>From: <%=cm.user_email%>
        <p>Rate: <%= cm.rating%></p></h5>    
      </div>
      <div class="column">
        <h5>To: <%=cm.commentable_user.email%>
        <p>Text: <%= cm.body %></p></h5>
      </div>
      <%= link_to comment_path(cm.id), method: :put, :class=>"ui button" do%>
          Approve Review
      <%end%>
      <% if current_user.admin == 2%> 
        <%= link_to comment_path(cm.id), method: :delete, :class=>"ui button" do%>
            Reject Review
        <%end%>
      <%end%>
    </div>
  <%end%>
</div>