<table>
  <tr> 
    <th>Id</th>
     <th>Customer id</th>
    <th>Completed at</th> 
    <th>Total</th>
    <th>Status</th>
    <th>
    </th>
  </tr>
  <% @orders.each do |order| %>
  <tr>
    <td>
      <%= order.id %>
    </td>
    <td>
      <%= order.user_id %>
    </td>
    <td>
      <%= order.completed_at %>
    </td>
    <td>
      $<%= order.total %>
    </td>
    <td>
      <%= order.status %>
    </td>
    <td>
      <%= link_to "Details",admin_order_path(order.id) %>
    </td>
  </tr>
  <% end %>
</table>