<div class="ui comments">
  <h3 class="ui dividing header">Comments</h3>
  <% comments.each do |cm| %>
    <% if cm.id != nil %>
    <div class="comment">
      <div class="content">
        <a class="author"><%= cm.user_email %> 
          <%cm.rating.times do |r|%>
            <i class="star icon"></i>
          <%end%>
        </a>
        <div class="metadata">
          <span class="date"><%= cm.created_at %></span>
          <% if (current_user && current_user.admin > 0) || cm.user_id == current_user.id %>
            <span><%= "Pending of aproval" unless cm.publish%></span>
          <%end%>
        </div>
        <div class="text">
          Said:
           <%= cm.body %>
        </div>
      </div>
    </div>
    <%end%>
  <%end%>
</div>