<% if notice %>
  <p class="alert alert-success ui floating message teal"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger ui floating message red"><%= alert %></p>
<% end %>
<% if flash[:error] %>
  <div class="ui floating yellow message">
    <p>Number of errors: <%=flash[:error].size%></p>
    <% flash[:error].each do |k, e| %>   
      <p><%=k%>:<%=e%></p>
    <%end%>
  </div>
<%end%>
<% if flash[:success] %>
  <div class="ui floating green message"><%= flash[:success]%></div>
<%end%>