<div class="ui secondary pointing menu">
  <% if current_user %>
      <%= link_to current_user.email, root_path, :class=>"active item" %>
    <% if current_user.admin == 2 %>
      <%= link_to "Add user", new_admin_user_path, :class=>"item"%>
      <%= link_to "Add product", new_admin_product_path, :class=>"item" %>
      <%= link_to "Pending Comments", comments_path, :class=>"item"%>
      <%= link_to "Product Log", admin_product_log_path, :class=>"item" %>
      <%= link_to "Orders Log", admin_orders_path, :class=>"item" %>
    <% else %>
      <%if current_user.admin == 1%>
        <%= link_to "Add user", new_customer_path, :class=>"item"%>
        <%= link_to "Pending Comments", comments_path, :class=>"item"%>
      <%end%>
      <%= link_to cart_path, :class => "ui labeled icon button", :class=>"item" do%>
        <i class="shopping cart icon"></i>Cart
      <%end%>
      <%= link_to "My Orders", orders_path, :class=>"item" %>
      <%if current_user.profile.present?%>
        <%= link_to "My Profile", profile_path(current_user.profile.id), :class=>"item" %>
      <%end%>
    <% end %>
    <div class="right menu">
      <%= link_to "Sign Out", destroy_user_session_path, method: :delete, :class=>"ui item" %>
    </div>
  <% else %>
    <%= link_to root_path, :class => "ui labeled icon button", :class=>"item" do%>
      <i class="cubes icon"></i>Home
    <%end%>
    <%= link_to cart_path, :class => "ui labeled icon button", :class=>"item" do%>
      <i class="shopping cart icon"></i>Cart
    <%end%>
    <div class="right menu">
      <%= link_to new_user_session_path, :class => "ui labeled icon button", :class=>"ui item" do%>
        <i class="user circle icon"></i>Sign In
      <%end%>
    </div>
  <% end %>  
</div>
