<% if current_user %>
  <% if commentable.is_a?(Product) || (commentable.is_a?(Order) && commentable.status != 'complete') || (commentable.is_a?(Profile) && commentable.is_able_to_be_commented?(current_user)) %>
      <%= form_for ([commentable, comment]), html: { autocomplete: "off" }, remote: true, :class=>"ui reply form" do |f| %>
        <%= f.hidden_field :rating, :value => 0 %>
        <%= f.hidden_field :type, :value => type %><br>
        <div id="rate" class="ui star rating" data-rating="0"%> ></div><br>
        <%= f.text_area :body %><br>
        <% label = commentable.is_a?(Profile) ? "Submit Review" : "Submit Comment" %>
        <%= f.submit label, :class=>"ui blue labeled submit icon button" do %>
          <i class="icon edit"></i>
        <%end%>
      <% end %>
  <%end%>
<%end%>
<div id="comments">
  <br>
  <%= render partial: "shared/comment", locals: {:comments => @comments} %>
</div>