<div class="ui icon message">
  <% if current_user && current_user.admin == 2 %>
    <i  class="clipboard list icon"></i>
    <div class="content">
      <div class="header">
        Welcome Admin
      </div>
      <p> <%= link_to "Manage existing products", admin_product_index_path %></p>
    </div>
    <i class="user icon"></i>
    <div class="content">
      <div class="header">
        Manage users
      </div>
      <p> <%= link_to "Users", admin_users_path %></p>
    </div>
  <% else %>
    <i class="cubes icon"></i>
    <div class="content">
      <div class="header">
        Checkout our amazing items!
      </div>
      <p><%= link_to "Products", product_index_path %></p>
    </div>
    <%if current_user%>
      <i class="user icon"></i>
      <div class="content">
        <div class="header">
          Check other users like you!
        </div>
        <p> <%= link_to "Users", customers_path %></p>
      </div>
    <%end%>
  <% end %>
</div>