<div class="ui grid">
  <% counter = 0 %>
  <% @users.each do |u|%>
    <%if counter == 0 %>
      <div class="six wide column">
    <%end%>
    <div class="ui segment">
      <div>
        Email: <%= u.email %><br>
        Role: <%= u.admin %><br>
        <%= link_to profile_path(u.profile.id), :class => "ui button" do%>
          Profile
        <%end%>
      </div>
    </div>
    <%if counter == 2%>
      </div>
    <%end%>
    <% counter == 2 ? counter = 0: counter += 1 %> 
  <%end%>
  <%if counter < 2 %>
    </div>
  <%end%>
</div>
<%= will_paginate @users, :params => { filter: (params[:filter][:search] rescue nil) }%>
