<div class="ui icon input">
  <%= form_for :filter, method: :get, remote: true  do |f|%>
    <div class="ui input">
      <%= f.text_field :search, :placeholder=>"Search..." %>
    </div>
    <%= f.submit "Search", :class => "ui icon button" %>
    <button class="ui icon button">
      <%= link_to customers_path, remote: true do%>
        <i class="eraser icon"></i>
      <%end%>
    </button>
  <%end%>
</div>

<div id="user_list">
  <%= render partial: "users_list"%>
</div>
