<%= form_for :user, url: customers_path do |f| %>
  <%= f.label 'Email:' %>
  <%= f.text_field :email %><br>

  <%= f.label 'Password' %><br>
  <%= f.password_field :password %><br>

  <%= f.label 'Password Confirmation' %><br>
  <%= f.password_field :password_confirmation%><br>

  <%= f.submit 'Add User' %>
<% end %>

<%= link_to "regresar", customers_path %>