<h2> Order Number: <%= @order.id %> </h2>
<table>
  <tr> 
    <th>Product</th> 
    <th>Price</th> 
    <th>Quantity</th>
    <th>Total</th>
  </tr>
<% @order.order_lines.each do |orln| %>
  <tr>
    <td>
      <%= orln.product_name %>
    </td>
    <td>
      $<%= orln.price %>
    </td>
    <td>
      <%= orln.quantity %>
    </td>
    <td>
      <%= orln.total %>
    </td>
  </tr>
<% end %>
</table>
<div>
  <%= render partial: "shared/new_comment", locals: { comment: @comment, commentable: @commentable, type: @type, current_user: current_user, comments: @comments } %>
</div>
<%= render "shared/link_back" %>
