<% if product.stock > 0 %>
  <%= form_for :order_line, :url => order_lines_path, method: :post do |f| %>
    <%= f.hidden_field :product_id, :value => product.id %>
    <% product.tags.each do |t| %>
      <span class="ui tag label">
        <%=label 'tag_name', t.name%>
      </span>
    <% end %><br>
    <div class="meta">
      Price: $<%=product.price%>
    </div>
    <div class="ui labeled small input">
      <div class="ui label">
        Quantity
      </div>
    <%= f.number_field :quantity, in: 1..product.stock %>
    </div>
    <%= f.submit "Add to Cart", :class => "ui small button" %>
  <% end %>
<% else %>
  <span>Out Of Stock</span>
<% end %>
<%if current_user&.admin == 1%>
  <%= link_to "Edit", edit_product_path(@p.id),  :class =>"ui toggle small button" %>
<%end%>
<% if user_signed_in? %>
  <div class="ui labeled button" tabindex="0">
    <div class="ui tiny button">
      <i class="thumbs up icon"></i><%= link_to "Like", like_path(product: product.id, type: "like"), remote: true %>
    </div>
    <a class="ui basic label">
      <%= product.like_count %>
    </a>
  </div>
  <div class="ui labeled button" tabindex="0">
    <div class="ui tiny button">
      <i class="thumbs down icon"></i><%= link_to "Dislike", like_path(product: product.id, type: "dislike"), remote: true %>
    </div>
    <a class="ui basic label">
      <%= product.dislike_count %>
    </a>
  </div>   
<% end %>
