<%= f.label 'Name:' %>
<%= f.text_field :name %><br>

<%= f.label 'Sku:' %> <%= @product.sku%><br>

<%= f.label 'Description' %><br>
<%= f.text_area :description %><br>
  
<%= f.label 'Stock:' %>
<%= f.number_field :stock %><br>

<%= f.label 'Price:' %> <%= @product.price%><br>

<%= f.label 'Picture:' %>
<%= f.file_field :picture %><br>

<% @tags.each do |t| %>
  <%= f.label 'tag_name', t.name%>
  <%= f.check_box :tag_ids, { multiple: true }, t.id, false %>
<% end %><br>
