<%=link_to 'Name', product_index_path( { filter: {
                                                scope: 'names',
                                                historic: (@searcher[:historic] rescue nil) } }
                                      ), remote: true, :class=>'ui button' %>
<%=link_to 'Likes', product_index_path( { filter: {
                                                scope: 'likes',
                                                historic: (@searcher[:historic] rescue nil) } }
                                      ), remote: true, :class=>'ui button' %>
<%=link_to 'Dislikes', product_index_path( { filter: {
                                                  scope: 'dislikes',
                                                  historic: (@searcher[:historic] rescue nil) } }
                                          ), remote: true, :class=>'ui button' %>
