<% @tags.each do |t| %>
    <%= link_to t.name, product_index_path({ filter: { 
                                              historic: (@searcher[:historic] rescue nil),
                                              tag: t.id
                                             } }), remote: true, :class=>"ui tag label", :id=>"t#{t.id}"  %> 
<%end%>
