<div class="ui icon input">
  <%= form_for :filter, method: :get, remote: true  do |f|%>
    <%= f.hidden_field :historic, :value => (@searcher[:historic] rescue nil) %>
    <div class="ui input">
      <%= f.text_field :search, :placeholder=>"Search..." %>
    </div>
    <%= f.submit "Search", :class => "ui icon button" %>
    <%= link_to product_index_path, remote: true, :class=>'ui icon button' do%>
      <i class="eraser icon"></i>
    <%end%>
  <%end%>
  <div id='scopes' class="ui right buttons">
    <%= render partial: "scopes_list" %>
  </div>
</div>
<br><br>
<div id='tags' >
  <%= render partial: "tags_list" %>
</div>
<br>
<div id='list'>
  <%= render partial: "product_list"%>
</div>
<%= render "shared/link_back" %>