(function init() {
  let el = document.querySelector('#list')
  let al = document.querySelector('#tags')
  let ol = document.querySelector('#scopes')
  
  ol.innerHTML = '<%= escape_javascript(render(partial: "scopes_list")) %>';
  al.innerHTML = '<%= escape_javascript(render(partial: "tags_list")) %>';
  el.innerHTML = '<%= escape_javascript(render(partial: "product_list")) %>';
  <% if @searcher[:historic].present? && @searcher[:historic][:tags].present? %>
    <% @searcher[:historic][:tags].each do |t| %>
      $('<%= escape_javascript("#t#{t.to_s}") %>').addClass('green');
    <% end %>
  <% end %>
})()