<div>
  <p>Name: <%= @product.name %></p>
  <p>Sku: <%= @product.sku %></p>
  <p>Description: <%= truncate(@p.description, length: 50)%></p>
  <p>Price: $<%= @product.price %></p>
  <p>Stock:
  <% if @product.stock == 0 %>
    Out of Stock
  <% else %>
    <%= @product.stock%>
  <% end %>  
  </p>
  <div id= <%= "likes"+@product.id.to_s %> >
    <%= render partial: "form_buy", locals: {product: @product}%>
  </div>
</div>
<div>
  <%= render partial: "shared/new_comment", locals: {comment: @comment, commentable: @commentable, type: @type, current_user: current_user, comments: @comments } %>
</div>

<%= render "shared/link_back" %>

