<div class="ui grid">
  <% counter = 0 %>
  <% @users.each do |u|%>
    <%if counter == 0 %>
      <div class="six wide column">
    <%end%>
    <div class="ui segment">
      <div>
        Email: <%= u.email %><br>
        Role: <%= u.admin %><br>
        Deleted: <%= !u.active %><br>
        <%= link_to profile_path(u.profile.id), :class => "ui button" do%>
          Profile
        <%end%>
        <% if u.active %> 
          <%= link_to admin_user_path(u.id), method: :delete, data: {:confirm => "Are you sure you want to deactive this user?"}, :class => "ui button" do%>
            Delete
          <%end%>
        <% else %>
          <%= link_to admin_user_path(u.id), method: :delete, data: {:confirm => "Are you sure you want to active this user?"}, :class => "ui button" do%>
            Recover
          <%end%>
        <%end%>
        <%= link_to admin_user_path(u.id), method: :patch, :class => "ui button" do%>
          <%if u.admin == 1 %>
            Revoke Support Role
          <%else%>
            Grant Support Role
          <%end%>
        <%end%>
      </div>
    </div>
    <%if counter == 2%>
      </div>
    <%end%>
    <% counter == 2 ? counter = 0: counter += 1 %> 
  <%end%>
  <%if counter != 0 %>
    </div>
  <%end%>
</div>
<%= will_paginate @users, :params => { :filter => params[:filter] }%>