<%= form_for([:admin, @user], url: {action: "create"}, html: { autocomplete: "off" }) do |f| %>
  <%= f.label 'Email:' %>
  <%= f.text_field :email %><br>

  <%= f.label 'Password' %><br>
  <%= f.password_field :password %><br>

  <div class="ui left compact segment">
    Support User
    <div class="ui fitted slider checkbox">
      <%= f.check_box 'admin' %>
      <label></label>
    </div>
  </div>

  <%= f.submit 'Save User' %>
<% end %>

<%= link_to "regresar", admin_product_index_path %>