<!DOCTYPE html>
<html>
  <head>
    <title>DiegoSnackStore</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="header"><p>
      <%= render partial: "shared/header", locals: { current_user: current_user} %>
    </div>
      <%= render partial: "shared/flash_message" %>
    <div class="ui segment">
      <%= yield %>
    </div>

    <script>
      $('.ui.rating').rating({ initialRating: 0, maxRating: 5});
      $('.others').rating('disable');
      $('#rate').click(function() {
        $('#comment_rating').attr("value", $('#rate').rating('get rating'))
      });
    </script>
    <%= javascript_include_tag 'https://checkout.stripe.com/checkout.js' %>
  </body>
</html>
